.dub
docs.json
__dummy.html
docs/
/uni_graphics2
uni_graphics2.so
uni_graphics2.dylib
uni_graphics2.dll
uni_graphics2.a
uni_graphics2.lib
uni_graphics2-test-*
*.exe
*.o
*.obj
*.lst

bin/*
!bin/glfw3.dll
!bin/imgui.lib

vcg_ast